<form action="#" method="post" id="billForm">
  <fieldset>
    <legend><h2>Create a New Note</h2></legend>
    <ul>
      <li><label for="formTitle" class="sectionHeader">Title:</label>
        <input type="text" id="formTitle" maxlength="100" /></li>

      <li><label for="formDetails" class="sectionHeader">Details:</label>
        <textarea id="formDetails" maxlength="500" ></textarea></li>
    </ul>

    <input type="submit" id="submitForm" value="Save This Note" />

  </fieldset>
</form>