<!DOCTYPE html>
<html>
<head>
  <title>MyNotesApi</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="mainContainer"><%= yield %></div>


<%= javascript_include_tag "application" %>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</body>
</html>
